<!DOCTYPE html>
<html>

<head>
  <link href="/static/bootstrap.css" rel="stylesheet">
  <script src="/static/bootstrap.bundle.js"></script>

  <title>0% APR Manager ~ Calculator</title>
</head>

<body>
  {{template "navbar"}}

  <div class="container mt-3">

    <h3 class="text-center">Payment Calculator</h3>

    {{if not .HasOutput}}
    <form action="/calc" method="post">
      <div class="row mb-3">
        <div class="col-md-3">
          <label for="accounts" class="form-label">Account</label>
          <select name="account" id="accounts" class="form-select">
            {{range .Accounts}}
            <option>{{.}}</option>
            {{end}}
          </select>
        </div>

        <div class="col-md-3">
          <label for="balance" class="form-label">Balance</label>
          <input type="number" step="0.01" name="balance" id="balance" class="form-control" required>
        </div>
      </div>

      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Calculate</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
    {{end}}


    {{if .HasOutput}}
    <div class="row justify-content-center">
      <div class="col-lg-4">

        <h3>Results</h3>
        <div class="row mb-3">

          <dt class="col-lg-6">Account</dt>
          <dd class="col-lg-6">{{.OutAccount}}</dd>

          <dt class="col-lg-6">Other Purchases</dt>
          <dd class="col-lg-6">{{.OtherPurchases}}</dd>

          <dt class="col-lg-6">Payment Amount</dt>
          <dd class="col-lg-6">{{.OutAmount}}</dd>
        </div>

        <h4>Purchase Breakdown</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {{range .Breakdown}}
            <tr>
              <td>{{.PurName}}</td>
              <td>{{.PayAmount}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>

    {{end}}
  </div>
</body>

</html>
