<!DOCTYPE html>
<html>

<head>
  <link href="/static/bootstrap.css" rel="stylesheet">
  <script src="/static/bootstrap.bundle.js"></script>

  <title>0% APR Manager ~ Details</title>
</head>

<body>
  {{template "navbar"}}

  <div class="container mt-3">

    <h3 class="text-center">Details for {{.Name}}</h3>

    <div class="row">
      <div class="col-lg-6">
        <h3>Overview</h3>
        <dl class="row">
          <dt class="col-lg-4">Name:</dt>
          <dd class="col-lg-8">{{.Name}}</dd>
      
          <dt class="col-lg-4">Account:</dt>
          <dd class="col-lg-8">{{.Account}}</dd>
      
          <dt class="col-lg-4">Memo</dt>
          <dd class="col-lg-8">{{.Memo}}</dd>
      
          <dt class="col-lg-4">Purchase Date</dt>
          <dd class="col-lg-8">{{.PurchaseDate}}</dd>
    
          <dt class="col-lg-4">Initial Amount:</dt>
          <dd class="col-lg-8">{{.InitialAmount}}</dd>
    
          <dt class="col-lg-4">Wanted Payments</dt>
          <dd class="col-lg-8">{{.WantedPayments}}</dd>
    
          <dt class="col-lg-4">Remaining Amount:</dt>
          <dd class="col-lg-8">{{.RemainingAmount}}</dd>
          
          <dt class="col-lg-4">Total Paid:</dt>
          <dd class="col-lg-8">{{.TotalPaid}}</dd>
    
          <dt class="col-lg-4">Total Payments</dt>
          <dd class="col-lg-8">{{.TotalPayments}}</dd>
    
          <dt class="col-lg-4">Payment Amount:</dt>
          <dd class="col-lg-8">{{.PeriodPaymentAmount}}</dd>
        </dl>
      </div>
      <div class="col-lg-6">
        <h3>Payments</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</thtdtd>
            </tr>
          </thead>
          <tbody>
            {{range .Payments}}
              <tr>
                <td>{{.Date}}</td>
                <td>{{.Amount}}</td>
              </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
